*{
    box-sizing: border-box;
}
header{
    padding: 10px;
    background-color: #228B22;
    color: white;
    text-align: center;
    font-size: medium;
}
main{
    float: left;
    width: 75%;
    padding: 20px;
}
.kotak{
    display: flex;
    width: 300px;
    height: 250px;
    background-color: red;
    margin: 40px;
    border: 2px solid black;
    border-radius: 10px;
}
aside{
    float: right;
    width: 25%;
    padding: 20px;
}
.border{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}