<!DOCTYPE html>
<html>
<head>
  <title> kedua </title>
<style type="text/css">
 pa {color : brown}
 
 </style>
</head>
<body>
	
  <center><p class="pertama"><h1>Percobaan pembuatan Pertama</h1>
    <font size="5" color="blue">Mari kita mencoba bagai mana membuat web sederhana</font><br>
    <font size="5" strong >Penulis:Rohim Kurniawan</font><br>
    <font size="5" strong >Tema   :Belajar membuat html</font><br>
    Oke kawan kawan,hari ini kita akan membahas sediki tentang bagai mana cara untuk membuat suatu <i>perubahan</i> dalam kehidupan sehari hari kita sebagai <em>pelajar</em>  </p><pa>Rohim k
</center> </p>
</body>
</html>