<!DOCTYPE html>
<html>
<head>
  <style>
    pa {font-family: roboto}
    c {color :blue}
    m {color :red}
  </style>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Percobaan </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Aplikasi Pembelajaran Matematika Dasar Bangun Datar</h1>
                    <div class="lead"> # Rohim kurniawan # Qurrota ayun # Gloria</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <h4><m>Assalamualaikum wr wb</m></h4>
  <P>Selamat datang di web sederhana yang kami buat.ya pada web ini kami membuat suatu <pa><c>Aplikasi Pembelajaran Matematika Basar Bangun Datar

  </c></pa></P>
<a class="btn btn-outline-success" href="about" role="button">Persegi</a>
<a class="btn btn-outline-primary" href="text" role="button">Segitiga</a>
<button type="button" class="btn btn-outline-danger" herf="text">Persegi panjang</button>
</div> 
</body>
</html>