<!DOCTYPE html>
<html>
<head>
	<style>
		p {color : blue}
		c {color : red}
	</style>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Percobaan </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title>Contoh Penggunaan Margin</title>

</head>
<body>
	<header>
		
		  <div class="container">
				<div class="row">
					<div class="col">
						<h2>B.Segitiga</h2>
						Segitiga adalah bangun datar yang dibatasi oleh tiga buah sisi dan mempunyai tiga buah titik  sudut
						<p><font size="5">Jenis-Jenis Segitiga:</font></p>
						       Jenis-jenis suatu segitiga dapat ditinjau berdasarkan
               


						

						
					</div>
				</div>
			</div>
		
	</header>
	<title>Jadi Belajarnya gitu</title>
<div class="container">
	<p></p>






</div>
</body>
</html>